@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", serif;
    font-weight: 400;
    font-size: 16px;
    padding: 0;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(209,209,209,1) 100%);
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.wrapper {
    width: 100%;
}


header {
    background-color: #252525;
    height: 75px; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 125px; 
    margin-top: 25px;
    margin-bottom: 30px;
    width: 100vw; 
}

.logo {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800; 
    font-size: 38px; 
    display: flex;
    align-items: center;
    color: #fff;
}

.text-small {
    font-weight: 400; 
    font-size: 38px; 
}

.dot {
    font-size: 38px; 
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 25px;
    z-index: 2;
    position: relative;
}

header nav ul li a {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
}

header nav ul li:not(.active):not(.btn) a:hover {
    border-bottom: 2px solid #fff;
}

header nav ul li.btn a, .email .block button {
    background: #66696D;
    padding: 9px 17px;
    border-radius: 5px;
    transition: all 500ms ease;
}

header nav ul li.btn a:hover, .email .block button:hover  {
    background: #454545;
}

header nav ul li.active::after {
    content: "";
    display: block;
    width: 15px;
    height: 2px;
    background: #fff;
    border-radius: 10px;
    position: relative;
}


footer {
    background-color: #252525;
    height: 110px;
    width: 100vw; 
    padding: 10px 120px;
    margin-top: 30px;
    margin-bottom: 25px;
}

.footer-content {
    color: #c0c0c0;
    line-height: 1.25;
    font-size: 18px;
}

.footer-content h6.footer1 {
    display: inline-block;
}

.footer-content h6.footer2 {
    display: inline-block;
    margin-left: 1300px;
}

.footer-social a {
    color: #c0c0c0;
    font-size: 12px;
    margin-left: 1544px;
}


.footer-social a:hover {
    color: aqua;
    text-decoration: underline;
}

.hero {
    padding-bottom: 50px;
    padding-left: 175px;
    position: relative;
    z-index: 1;
}

.hero--info {
    width: 520px;
    padding-top: 70px;
}

.hero--info h2 {
    color:#454545;
    font-size: 18px;
    font-weight: 400;
}

.hero--info h1 {
    font-size: 48px;
    font-weight: 800;
    margin: 10px 0;
}

.hero--info p {
    font-weight: 400;
    line-height: 150%;
    margin: 20px 0;
}

.hero--info .btn, .hero-about .info .btn {
    background: #454545;
    color:#fff;
    border-radius: 50px;
    padding: 20px 30px;
    border: 0;
    transition: all 500ms ease;
    font-size: 17px;
}

.hero--info .btn:hover, .hero-about .info .btn:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.hero img {
    position: absolute;
    top: 22px;
    right: 125px;
}

/* workers section (after hero) */

.avaiable h3 {
    font-weight: 800;
    font-size: 42px;
    padding-left: 125px;
    padding-top: 75px;
}

.avaiable .workers {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0px 120px;
}

.header-container {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 50px 120px;
  }
  
  .title {
    margin-top: 30px;
    font-size: 32px;
    font-weight: 700;
  }
  
  .see-all {
    margin-top: 30px;
    font-size: 18px;
    padding: 8px 20px;
    background-color: #757575;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .see-all:hover {
    transition: all 500ms ease;
    background-color: #252525;
  }
  
.big-text {
    padding: 50px 250px; 
    font-size: 35px; 
    font-weight: 800; 
    text-align: center; 
    background-color: #c0c0c0; 
    color: #000; 
    border: 2px solid #ccc; 
    border-radius: 10px; 
    width: 100%; 
    margin: 50px auto; 
}

.banner {
    padding-top: 30px;
}

.banner h3 {
    font-size: 35px;
    font-weight: 800;
    padding-left: 120px;
    padding-bottom: 15px;
}

.banner p {
    line-height: 170%;
    margin: 30px 120px;
    width: auto;
    font-size: 24px;
}

.banner img {
    width: 85%;
    margin-bottom: 30px;
    margin-left: 120px;
    margin-top: 30px;
    padding-bottom: 50px;
}

.workers .block img {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.workers .block:hover img {
    transform: scale(1.1); 
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2); 
    cursor: pointer; 
}

.avaiable-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 125px;
    margin-top: 30px;
}

.see-all-btn {
    background: #454545;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
}

.see-all-btn:hover {
    background: #66696D;
    transform: scale(1.05);
}



/*Section with background*/

.features {
    background: url('/img/BG.png') no-repeat center center fixed;
    background-size: cover;
    padding: 80px 0;
}

.features h3, .features p {
    color: #fff;
    margin-bottom: 20px;
    margin-top: 40px;
    text-align: center;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.features h3 {
    font-size: 48px;
}

.features .info {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.features .info .block {
    text-align: center;
    width: 20%;
    margin: 30px 2%;
}

.features .block img {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.features .block:hover img {
    transform: scale(1.2); 
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2); 
    cursor: pointer; 
}

/*Email at bottom*/

.email {
    padding-bottom: 120px;
    padding-left: 120px;
    padding-right: 120px;
    width: auto;
}

.email p {
    padding-left: 120px;
    padding-right: 120px;
    width: 500;
    padding-bottom: 30px;
}

.email h3 {
    margin-top: 60px;
    font-size: 30px;
    padding-left: 120px;
    padding-right: 120px;
    width: auto;
    margin-bottom: 30px;
}


.email .block {
    background: #c0c0c0;
    margin-top: 30px;
    border-radius: 10px;
    padding: 30px 2%;
    width: 94%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.email .block h4 {
    font-size: 24px;
    font-weight: 800;
    padding-bottom: 10px;
    padding-left: 70px;
}

.email .block p {
    width: 500px;
    padding-left: 70px;
}

.email .block input {
    background: #fff;
    outline: none;
    border: 0;
    border-radius: 5px;
    width: 300px;
    font-family: "Montserrat", serif;
    font-weight: 400;
    padding: 10px 10px;
}

.email .block input::placeholder {
    color: #252525;
}

.email .block button {
    padding: 10px 30px;
    margin-left: 10px;
    cursor: pointer;
    border: 0;
}

/*about us*/

.hero-about {
    position: relative;
    padding: 100px 120px;
}

.hero-about .info {
    left: 450px;
    top: 150px;
}

.hero-about .info {
    width: 850px;
    padding-left: 320px;
    position: relative; 
    z-index: 2; 
}

.hero-about .info h1 {
    margin-bottom: 15px;
    font-size: 36px;
    font-weight: 800;
}

.hero-about .info p {
    margin-bottom: 15px;
    font-size: 24px;
    font-weight: 400;
}

.hero-about .info .btn {
    margin-top: 20px;
}

.hero-about img {
    position: absolute;
    top: 0;
    left: 200px;
    padding-top: 50px;
    z-index: 1; 
}

.work {
    padding: 80px 120px;
    padding-top: 100px; 
    text-align: center; 
}

.work h2 {
    font-size: 36px;
    font-weight: 800;
    margin: 40px 0px;
    margin-top: 75px;
}

.work .blocks {
    display: flex;
    justify-content: space-between; 
    gap: 30px; 
}

.work .blocks .block:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.work .blocks .block {
    flex: 1; 
    max-width: calc(33.33% - 30px); 
    padding: 30px 20px; 
    padding-bottom: 100px;
    background-color: #e0e0e0; 
    border-radius: 10px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    box-sizing: border-box; 
}

.work .blocks .block h3 {
    font-size: 24px; 
    font-weight: 800;
    margin-bottom: 25px; 
    background-color: #d1d1d1; 
    display: inline-block;
    padding: 5px 20px; 
    border-radius: 5px; 
}

.work .blocks .block p {
    font-size: 24px;
    margin: 0;
}


/*contact us*/

.container_hero-contacts {
    position: relative;
    line-height: 1.7;
    margin: 50px 0px;
    margin-left: 110px;
    max-width: 900px;
    padding: 25px;
    background-color: #F8F8F8;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    z-index: 5;
}

.container_hero-contacts h1 {
    font-size: 36px;
    font-weight: 800;
    margin-bottom: 15px;
}

.container_hero-contacts p {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 20px;
}

.img-contacts {
    position: absolute;
    z-index: 1;
    top: 150px;
    right: 110px;
    width: 800px;
    height: 800px;
}

.img-contacts img {
    border-radius: 10px;
    border: 2px solid #d8d8d8;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.container_map {
    margin: 50px 110px;
}

.container_map h1 {
    margin: 15px;
}

button a {
    color: #c0c0c0;
}

/*workers*/


.dynamic-container {
    padding: 20px;
  }
  

  .dynamic-workers {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
  }
  

  .dynamic-block {
    width: 220px;
    padding: 20px;
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
  }
  

  .dynamic-block:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }

  .dynamic-block img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 15px;
    border: 3px solid #ccc;
  }
  

  .dynamic-block h3 {
    font-size: 20px;
    margin: 10px 0 8px;
    color: #333;
  }
  

  .dynamic-block p {
    font-size: 16px;
    color: #666;
    margin: 0;
  }
  
  .available-workers h1 {
    margin: 50px 120px;
    font-size: 36px;
    font-weight: 800;
  }

  /* My profile */ 

 .container_myprofile {
    margin: 75px 120px;
 }

 .container_myprofile h1 {
    font-size: 36px;
    margin-bottom: 15px;
    margin-left: 25px;
 }

 .container_myprofile p {
    font-size: 24px;
    line-height: 1.2;
    max-width: 650px;
    margin-left: 25px;
 }

